$module: 'ProductsPage';

.#{$module} {

  &__Title {
    text-align: center;
    font-size: 40px;
  }
  &__Container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__Container > div {
    margin: 10px;
  }
}
